@font-face{
    font-family:vazir-medium ;
    src: url("../fonts/Vazir-Medium.eot") format("eot"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  *,
  body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: vazir-medium;
  }
  
  body{
      direction: rtl;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }





  html,body{
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
  }
  .course-title{
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 34px;
      color: #000;
      margin: 100px;
  }
  ul{
      list-style: none;
  }
  .collapse-menu{
      width: 650px;
      margin: 0 auto;
      text-align: right;
  }
  .collapse-panel{
      border: 1px solid #d6d6d6;
  }
  .collapse-heading{
      height: 40px;
      background-color: #70a1ff;
      padding: 0 15px;
      line-height: 45px;
      position: relative;
  }
  .collapse-trigger{
      color: #fff;
      font-size: 15px;
      overflow: hidden;
      display: block;
      width: 100%;
  }
  .collapse-controls{
      position: absolute;
      left: 12px;
      top: 0px;
      transition: all 0.1s linear;
  }
  .open{
      transform: rotate(180deg);
      top: -5px;
  }
  .collapse-controls i{
      color: #fff;
  }
  .collapse-body{
      padding: 15px;
      background-color: #fff;
      color: rgb(58, 58, 58);
      font-size: 15px;
      line-height: 30px;
      display: none;
  }
